<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8"/>
<title>You have completed Advent of Code! - Advent of Code {{year}}</title>
<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../static/style.css"/>
<link rel="stylesheet alternate" type="text/css" href="../static/highcontrast.css" title="High Contrast"/>
<link rel="shortcut icon" href="../static/favicon.png"/>
</head>
<body>
<header><div><h1 class="title-global"><a href="index.html">Advent of Code</a></h1><nav><ul><li><a href="events.html">[Events]</a></li><li><a href="leaderboard.html">[Leaderboard]</a></li><li><a href="solver.html">[Solver]</a></li></ul></nav><div class="user">Shahar Talmi <span class="star-count">50*</span></div></div><div><h1 class="title-event">&nbsp;&nbsp;&nbsp;<span class="title-event-wrap">$year=</span><a href="index.html">{{year}}</a><span class="title-event-wrap">;</span></h1></div></header>
<main>
{{page}}
</main>
</body>
</html>
