@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url(SourceCodePro-400.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 900;
  src: url(SourceCodePro-900.woff) format('woff');
}

* {
  background: transparent !important;
  color: black !important;
  text-shadow: none !important;
}
body {
  background: white !important;
  font-weight: 400 !important;
}
article [title] {
  border-bottom-color: black !important;
}
a {
  color: #0000ff !important;
  text-decoration: underline !important;
}
em {
  font-weight: 900 !important;
}
code::before {
  background: transparent !important;
  border-color: black !important;
}
.stats-firstonly          { opacity: .5;   }
.privboard-star-firstonly { opacity: .667; }
.privboard-star-unlocked  { opacity: .333; }
